
extends layout

block content
  h1 <a href="http://plug.dj/coding-soundtrack">&#9835;</a> Coding Soundtrack
  h2 Currently playing &ldquo;
    a(href="/songs/#{currentSong.id}") #{currentSong.title}
    | &rdquo; by #{currentSong.author}

  .row-fluid
    h3 Currently on stage:
    .stage.span10
      - for dj in room.djs
        .djCard.span2
          a(href="/djs/#{dj.plugID}") #{dj.name}

  .row-fluid
    #history
      h2 Track History
      ol
        - for song in history
          include blocks/song-instance
    