
extends layout

block content
  h1 Coding Soundtrack
  h2 Currently playing &ldquo;
    a(href="/songs/#{currentSong.id}") #{currentSong.title}
    | &rdquo; by #{currentSong.author}

  #history
    h2 Track History
    ol
      - for song in history
        li
          a(href="/history/#{song.id}") #{song.timestamp}
          |  
          a(href="/songs/#{song._song.id}") #{song._song.title}
          - if (typeof(song._dj) != 'undefined')
            |  was played by 
            a(href="/djs/#{song._dj.plugID}") #{song._dj.name}
  