
extends layout

block content
  .jumbotron.masthead
    .container
      h1 Coding Soundtrack
      p
        | #{subtitle}
      p
        a.btn.btn-danger.btn-large(href="http://plug.dj/coding-soundtrack") &#9835; Listen Now &raquo;
      | Now playing: 
      a(href="/songs/#{currentSong.id}")
        strong #{currentSong.author}
        |  - #{currentSong.title}

  .container
    .row
      .span4
        .page-header
          h1 Current DJs
        - for dj in room.djs
          .media
            a.pull-left(href="/djs/#{dj.plugID}")
              img(src="#{dj.avatar.thumb}")
            .media-body
              h4.media-heading
                a(href="/djs/#{dj.plugID}") #{dj.name}
                small  has played <strong>#{dj.plays}</strong> tracks since getting on deck 
                  abbr.timeago(title="#{dj.onDeckTimeISO}") #{dj.onDeckTime}
                  | .
      .span4
        .page-header
          h1 Song History
        - for song in history
          .media
            a.pull-left(href="#")
              img.media-object(src="#{song._dj.avatar.thumb}")
            .media-body
              a(href="/songs/#{song._song.id}") #{song._song.author} - #{song._song.title}
              - if(typeof(song._dj) != 'undefined')
                br
                small  played by 
                  a(href="/djs/#{song._dj.plugID}") #{song._dj.name}
                  a(href="/history/#{song.id}")
                    abbr(title="#{song.isoDate}").timeago