extends layout

block content
  header.jumbotron.subhead
    .container
      form(method="post", action='/songs').form-search.form-inline.pull-right
        input(type="text", name="q", placeholder="search...").search-query
      h1 Songs
      p.lead
        | Everything that have been played.  Ever.
  br
  .container
    .row
      .span6
        h2 All Time
        ol
          - for song in allTime
            li
              a(href="/songs/#{song.id}") #{song.author} &mdash; #{song.title}
              |  was played <strong>#{song.plays}</strong> times.

      .span6
        h2 Month
        ol
          - for song in month
            li
              a(href="/songs/#{song.id}") #{song.author} &mdash; #{song.title}
              |  was played <strong>#{song.plays}</strong> times.

        h2 Week
        ol
          - for song in week
            li
              a(href="/songs/#{song.id}") #{song.author} &mdash; #{song.title}
              |  was played <strong>#{song.plays}</strong> times.