extends layout

block content
  - if (typeof(song._dj) != 'undefined')
    small
      a(href="/djs/#{song._dj.plugID}") #{song._dj.name}
      |  played 
  include blocks/song

  .row-fluid
    p <strong>#{song.curates.length}</strong> people added this song because of this play: 
      - for curate in song.curates
        a(href="/djs/#{curate._person.plugID}") #{curate._person.name} 