li
  a(href="/songs/#{song._song.id}") #{song._song.author} &mdash; #{song._song.title}
  - if (typeof(song._dj) != 'undefined')
    |  was played 
    a(href="/history/#{song.id}")
      abbr(title="#{song.isoDate}").timeago
    |  by 
    a(href="/djs/#{song._dj.plugID}") #{song._dj.name}
    | .
